h1{
    color:yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #ff66b3;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    color: #62cccc;
    padding: 15px;
    border: 2px solid #ddff99;
    border-radius: 5px;
}

body{
    background-color:#b3f0ff;
    margin: 0px;
}

.grid img{
    border: 2px solid #ddff99;
    border-radius: 5px;
}

.grid{
    display: flex;
    flex-wrap: center;
    margin: 20px;
}
.origami{
    border-radius: 20px;
    border: 3px solid #ddff99;
    background-color: white;
    width: 310px;
    font-family: fantasy;
    font-weight: normal;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
}

.origami p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.bodyimg{
    background-color: #ddff99;
    border: 5px solid #ff66b3;
    color: #5900b3;
    font-family: cursive;
    font-weight: normal;
    margin: 15px;
}

.bodyimg h3{
    padding-left: 10px;
}

.header{
    padding: 10px;
}

a:link{
    color:#5900b3;
}
a:visited{
    color:#5900b3;
}

.origami:hover {
    transform: scale(1.2);
}

h2{
    color: #5900b3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding-left: 20px;
}